/*
COLOR PALETTE
0C3C3B - dark green
005251 - mid green
00615F - light green
FFC53E - yellow
171717 - black
F9F3F1 - off-white
B6B6B6 - gray
*/

:root {
    --dark: #0C3C3B;
    --mid: #005251;
    --lightgreen: #00615F;
    --yellow: #FFC53E;
    --black: #171717;
    --offwhite: #F9F3F1;
    --gray: #B6B6B6;

    --radius-lg: 22px;
    --radius-md: 16px;
    --radius-sm: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #fff;
    color: var(--black);
}

header {
    background: var(--dark);
    padding: 18px 0;
}

html,
body {
    overflow-x: hidden;
}

header img {
    height: 22px;
    width: auto;
    display: block;
}

main {
    padding: 18px 18px 120px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CART */

.cart {
    padding-top: 6px;
}

.cart-total {
    margin-top: 26px;
    display: flex;
    justify-content: center;
}

.cart-item {
    padding: 14px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    background: #ffff;
    border: 1px solid var(--gray);
    border-radius: var(--radius-lg);

}

.cart-foto-item {
    width: 78px;
    height: 78px;
    background: var(--dark);
    border-radius: var(--radius-md);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

.cart-foto-item img {
    width: 72%;
    height: 72%;
    object-fit: contain;
    display: block;

}

.cart-item-info {
    flex: 1;
    min-width: 0;
}

.cart-item-title {
    font-size: 14px;
    font-weight: 700;
    color: var(--dark);
    line-height: 1.2;
    margin-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 8px;
}

.cart-item-price {
    font-size: 14px;
    font-weight: 700;
    color: var(--dark);
    margin: 0;
}

.price-qty-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    /*margin-top: 6px;*/
}


.cart-qty {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*bUTTONS */
.btn-minus,
.btn-plus {
    font-size: 18px;
    font-weight: 700;
    width: 26px;
    height: 26px;
    border-radius: 45%;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.btn-minus {
    background: #f2f2f2;
    color: var(--dark);
}

.btn-plus {
    background: var(--yellow);
    color: var(--dark);
}

.qty-value {
    font-size: 14px;
    font-weight: 600;
    color: var(--dark);
    width: 16px;
    text-align: center;
}


.title {
    font-size: 14px;
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 14px;
}


.delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fdeaea;
    width: 32px;
    height: 32px;
    border-radius: 45px;
    border: none;
    flex: 0 0 32px;
}

.delete-btn img {
    width: 14px;
    height: 14px;
    display: block;
}

/*ROWS*/
.line {
    border: none;
    height: 1px;
    background: var(--gray);
    margin: 6px 0;
}

.total-all-rows {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.total-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: var(--dark);
}

.total-label {
    font-size: 13px;
    font-weight: 700;
    color: var(--dark);
}

.total-price {
    font-size: 13px;
    font-weight: 600;
    color: var(--dark);
}

.total-price-sum {
    font-size: 18px;
    font-weight: 800;
    color: var(--dark);
}

.total-row-sum {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.total-wrap {
    width: 100%;
    max-width: 360px;
    background: var(--offwhite);
    border-radius: var(--radius-lg);
    padding: 18px;
    margin-top: 188px;
}

/*DELIVERY*/
.free-dev {
    margin-top: 12px;
    font-size: 12px;
    color: var(--dark);
    display: flex;
    align-items: center;
    gap: 8px;
}

.hint-icon {
    font-size: 14px;
}

.hint-strong {
    color: #e04b4b;
    font-weight: 700;
}


/* NAV Bottom */
.bottom-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 10px 14px;
    background-color: var(--dark);
    border-radius: 12px 12px 0 0;

}

.bottom-bar-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.bottom-bar-links {
    width: 58px;
    height: 58px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;

}