/*
COLOR PALETTE
0C3C3B - dark green
005251 - mid green
00615F - light green
FFC53E - yellow
171717 - black
F9F3F1 - off-white
B6B6B6 - gray
*/
:root {
    --dark: #0C3C3B;
    --mid: #005251;
    --lightgreen: #00615F;
    --yellow: #FFC53E;
    --black: #171717;
    --offwhite: #F9F3F1;
    --gray: #B6B6B6;

    --radius-card: 18px;
    --radius-img: 18px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Popins", sans-serif;
    background: #ffff;

}

img {
    max-width: 100%;


}

header {
    background: var(--dark);
    padding: 18px 0px;
}

/*LOGO i IMG */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo img {
    height: 24px;
    width: auto;

}

/*INTRO all*/
.shop-intro {
    padding-top: 20px;
    padding-bottom: 10px;

}

.shop-intro h1 {
    color: var(--dark);
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 8px;
}

.shop-intro p {
    font-size: 13px;
    font-weight: 600;
    color:var(--lightgreen);

}
.shop-search p {
    font-size: 13px;
    color: var(--dark);
}


/*SEARCHBAR*/

.shop-search {
    padding-top: 14px;
    padding-bottom: 8px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.shop-search label {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    background: var(--dark);
    padding: 12px 14px;
    border-radius: 14px;
}

.search-input {
    width: 100%;
    font-size: 14px;
    background: transparent;
    outline: none;
    border: none;
    color: var(--offwhite);
}

/*.search-input ::placeholder {
    color: var(--gray);
} надо не надо!?*/

/*FILTERS btn*/
.filters-btn {
    width: 45px;
    height: 42px;
    background: var(--yellow);
    border: none;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.filters-icon {
    width: 20px;
    height: 20px;
}

/*ALL PRODUCTS один ряд по два*/
.shop-products {
    padding-top: 10px;
    padding-bottom: 30px;
}

.shop-products h2 {
    font-size: 16px;
    font-weight: 700;
    color: var(--dark);
    margin: 12px 0px;

}

.shop-products ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

/*чтобы карточки были видны когда листаешь вниз*/
main {
    padding-bottom: 80px;
}

/* PRODCT CARDS*/ 
.product-card {
    background: var(--offwhite);
    border-radius: var(--radius-card);
    padding: 12px;
}

.product-img {
    width: 100%;
    height: 150px;
    border-radius: var(--radius-img);
    margin-bottom: 10px;
    /* почему они расстянуты,,,,*????*/
}

/*product text */ 
.product-category {
    color: var(--lightgreen);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2px;
    
}

/*KAK делали спейс между строками,????*/
.product-title {
    color: var(--dark);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

.product-price {
    color: var(--dark);
    font-size: 13px;
    font-weight: 500;
}

/* NAVIGATOR  BOTTOM */
/*home svetitsya*/

.bottom-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 10px 14px;
    background-color: var(--dark);
}

.bottom-bar-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.bottom-bar-links {
    width: 58px;
    height: 58px;
    display: inline-flex;
    align-items: center;
    /*align-content: center;*/
    justify-content: center;
    border-radius: 18px;

}

.shop-intro, .shop-products, .shop-search {
    padding-left: 18px;
    padding-right: 18px;
}